body{
//background-color:red;
}
*{
margin:0px;
padding:0px;
}
#header{
font-size:40px;
color:red;
padding:1px 0px 1px 120px;
background-color:black;
}
#nav{
height:50px;
background-color:orange;
}
#nav>ul{
list-style-type:none;

}
#nav>ul>li{
display:inline-block;
margin-left:80px;
padding:10px 30px;
margin-top:6px;
width:130px;
}
#nav>ul>li>a{
background-color:white;
padding:10px;
margin:10px;
border-radius:20%;
text-decoration:none;
}

#slider{
height:200px;
width:1000px;
background:url('../img/hbg_bg.jpg');
margin:10px auto;
background-size:cover;
}
#main{
height:500px;
width:1000px;
margin:10px auto;
}
#left{
height:100%;
width:700px;
float:left;

}
#lt{
height:50px;
width:280px;
background-color:orange;
margin-top:10px;
font-size:35px;

}
#lt1{
height:50px;
width:380px;
background-color:orange;
font-size:30px;
}
#left>h4{
color:orange;
}
#lr{
background-color:orange;
width:170px;
}
#lra{
background-color:orange;
width:170px;
font-size:20px;
margin-top:25px;
}
#lb{
height:50px;
width:280px;
background-color:orange;
font-size:30px;
}
#lbs{
color:white;
font-size:30px;
}
#lts{
color:white;
margin-left:25px;
font-size:35px;
}
#left>img{
margin-top:5px;
}
#right{
height:100%;
width:300px;
float:left;

}
#r1{
height:50px;
width:200px;
background-color:orange;
margin: 10px 10px;
font-size:35px;
}
#r1s{
color:white;
margin-left:5px;
}
#right>ul{
color:orange;
list-style-type:none;
margin:10px 10px;
}
#right>ul>li{
margin:2px;
}
#right>h4{
color:orange;
margin-left:10px;
}
#right>span{
margin-left:10px;
}
#r2{
height:50px;
width:150px;
color:white;
background-color:orange;
font-size:35px;
margin-left:10px;
}
#footer{
height:350px;
width:1000px;
margin:10px auto;
background-color:orange;
display:flex;
justify-content:space-around;
align-items:center;
}
.col{
height:250px;
width:300px;
background-color:orange;
}
#colt{
height:115px;
width:300px;
}
#coltl{
float:left;
}
#coltm{
float:left;
margin-left:5px;
}
#coltr{
float:left;
margin-left:5px;
}
#colb{
height:115px;
width:300px;
}
#colbl{
float:left;
}
#colbm{
float:left;
margin-left:5px;
}
#colbr{
float:left;
margin-left:5px;
}
#atl{
float:left;
}
#atr{
float:left;
color:orange;
}
#ttl{
float:left;
}
#ttr{
float:left;
color:orange;
}
#ttml{
float:left;
}
#ttmr{
float:left;
color:orange;

}

